{% load static %}
<!DOCTYPE html>
<html lang="ru" class="v-page_home v-os_windows v-browser_chrome v-landscape">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
        <title>CoffeeCorner</title>
		
		<link rel="stylesheet" href="{% static "slick_files/index.css" %}">
		
		</head>

	<body class="" data-v-console="false" data-v-page="home" data-v-tablet="1200" data-v-mobile="980" style="">


<canvas class="page__canvas fullHeight" style="height: 608px;" width="1366" height="730"></canvas>

<div class="page-wrap fullHeightMin fixed" id="wrap" style="min-height: 608px;">

	<header class="v-header show">
    <div class="wrap">

        <div class="v-header__logo"><a href="/shop" class="line">Coffee Corner</a></div>

    </div>
</header>
	<div class="page__screen fullHeightMin" id="v-ajaxPage__outer" style="min-height: 608px;">


<div class="default home fullHeightMin show" style="min-height: 608px;">

<!-- 

	<div class="home__text v-text_opacity v-text"><span class="v-text__word v-text__word_0">АААААААААААААААА</span></div>
	<div class="home__developing v-text_opacity v-text">ААААААААААААА</div> -->

	<div class="home__see show">
		<a href="https://github.com/PandaOnChain/coffeecorner" class="line" target="_blank">source code</a>
	</div>

	<div class="home__email show">
		<a href="mailto:pandaonchain@gmail.com" class="line">designed by: marina.kriwenko@gmail.com</a>
	</div>

</div>
    </div>

</div>

<script src="{% static "slick_files/slick.js" %}"></script><script src="{% static "slick_files/built.js" %}"></script>    
